@model MusicSystem.Models.ViewModels.EpisodeVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Episode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationSeconds" class="control-label"></label>
                <input asp-for="DurationSeconds" class="form-control" />
                <span asp-validation-for="DurationSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirDate" class="control-label"></label>
                <input asp-for="AirDate" class="form-control" />
                <span asp-validation-for="AirDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" class="form-control" asp-items="Model.Artists"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PodcastId" class="control-label"></label>
                <select asp-for="PodcastId" class="form-control" asp-items="Model.Podcasts"></select>
                <span asp-validation-for="PodcastId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    @ViewBag.Message
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
